@{
	ViewData["Title"] = Localizer[nameof(SharedResource.AboutCompany)];
}

<h1 class="text-center">@Localizer[nameof(SharedResource.AboutCompany)]</h1>
<p class="white-space-pre-wrap">@Localizer[nameof(SharedResource.CompanyDescription)]</p>
