@{
    ViewData["Title"] = "О компании";
}

<h1 class="text-center">О компании</h1>
<p>
    Компания ООО «ОмЭнерго» была образована в 2016 г. Основным направлением деятельности компании является обеспечение
    потребителей электротехнической продукцией высокого качества.
</p>
<p>
    В компании работают специалисты высокого уровня, способные проконсультировать своих клиентов по широкому
    спектру вопросов, связанных с техническими характеристиками поставляемой продукцией,
    ее монтажом, эксплуатацией и обслуживанием.
</p>
<p>
    Наша компания является официальным представителем ЭТК "Энергия" (РФ) на территории Республики Беларусь.
    За время сотрудничества с российскими партнерами мы и наши клиенты убедились в отличных потребительских
    свойствах продукции ЭТК "Энергия".
</p>
<p>
    На всю предлагаемую ООО «ОмЭнерго» продукцию установлен гарантийный срок – 1-3 года. При необходимости можно
    обратиться к специалистам сервисного центра компании. Расходы при гарантийном случае на ремонт и транспортные
    услуги компания берет на себя.
</p>
<p>
    Клиенты ООО «ОмЭнерго» могут приобрести выбранные изделия в г. Минске (оформление и получение товара производится
    в одном месте). По желанию клиента компания осуществляет доставку товара в любую точку страны.
</p>
