@{
    ViewData["Title"] = "Контакты";
}

<div class="row">
    <div class="col-lg-6">
        <h1>Контакты</h1>
        <h3>ООО "ОмЭнерго"</h3>
        <p>
            Время работы:<br>
            Технические специалисты: 9:00-17:00;<br>
            Выписка накладных: 9:30-16:30.
        </p>
        <h4>Заранее согласовывайте время приезда к нам!</h4>
        <p>
            Юридический и почтовый адрес:<br>
            220055, РБ, г.Минск, ул.Каменногорская, д.47, оф.112 (7 этаж)<br>
            Тел/факс: (+375-17) 248-77-45<br>
            Velcom:  (+375-29) 341-31-35<br>
            МТС: (+375-29) 560-01-79<br>
            E-mail: info@omenergo.by
        </p>
    </div>
    <div class="col-lg-6 col-sm-12">
        <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Af7cc1bc8fa1165565789e8adc8c7dae2d652d2d6bfcb93676d654d7d81d4bca7&amp;source=constructor"></iframe>
    </div>
</div>
