@{
    ViewData["Title"] = "Контакты";
}

<div class="row">
    <div>
        <h1>Контакты</h1>
        <h3>ООО "ОмЭнерго"</h3>
        <p>
            Время работы:<br>
            Технические специалисты: 9:00-17:00;<br>
            Выписка накладных: 9:30-16:30.
        </p>
        <h4>Заранее согласовывайте время приезда к нам!</h4>
        <p>
            Юридический и почтовый адрес:<br>
            220055, РБ, г.Минск, ул.Каменногорская, д.47, оф.112 (7 этаж)<br>
            Тел/факс: (+375-17) 248-77-45<br>
            Velcom:  (+375-29) 341-31-35<br>
            МТС: (+375-29) 560-01-79<br>
            E-mail: info@omenergo.by
        </p>
    </div>
    <iframe class="padding_left" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2348.8233110466936!2d27.42569981534755!3d53.93488283816577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dbc4bf71f12401%3A0x1d93bb882381fd31!2z0YPQuy4g0JrQsNC80LXQvdC90L7Qs9C-0YDRgdC60LDRjyA0Nywg0JzQuNC90YHQug!5e0!3m2!1sru!2sby!4v1524078948333" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>