@{
    ViewData["Title"] = "Оплата";
}

<h1>Оплата</h1>
<p>
    Мы работаем только с юридическими лицами по безналичному расчету.<br>
    Условия оплаты - 100% предоплата.<br>
    Для постоянных клиентов возможна частичная отсрочка платежа.
</p>
