@{
	ViewData["Title"] = "Оплата и доставка";
}

<h1 class="text-center">Оплата</h1>
<p>
	Мы работаем только с юридическими лицами по безналичному расчету.<br>
	Условия оплаты - 100% предоплата.<br>
	Для постоянных клиентов возможна частичная отсрочка платежа.
</p>

<h1 class="text-center">Доставка</h1>
<p>
	Мы осуществляем доставку продукции по всей стране. Доставка осуществляется собственным автотранспортом
	компании или с помощью транспортной компании ООО "Автолайтэкспресс".
</p>
<p>
	По Минску доставка осуществляется БЕСПЛАТНО при покупке товара на общую сумму 170 рублей с НДС и более.
	При покупке товара до 170 рублей с НДС стоимость доставки - 6 рублей. Срок доставки – до 1 дня.
</p>
<p>
	По Беларуси доставка осуществляется БЕСПЛАТНО при покупке товара на общую сумму 250 рублей с НДС и более.
	При покупке товара до 250 рублей с НДС стоимость доставки – 10-15 рублей (в зависимости от населенного пункта).
	Срок доставки – 1-5 дней.
</p>
<p>Дополнительные условия доставки можно уточнить у специалистов нашей компании.</p>
