@{
	ViewData["Title"] = Localizer["PaymentAndDelivery"];
}

<h1 class="text-center">@Localizer["Payment"]</h1>
<p class="white-space-pre-wrap">@Localizer["PaymentDescription"]</p>
<h1 class="text-center">@Localizer["Delivery"]</h1>
<p class="white-space-pre-wrap">@Localizer["DeliveryDescription"]</p>
