@{
	ViewData["Title"] = Localizer[nameof(SharedResource.PaymentAndDelivery)];
}

<h1 class="text-center">@Localizer[nameof(SharedResource.Payment)]</h1>
<p class="white-space-pre-wrap">@Localizer[nameof(SharedResource.PaymentDescription)]</p>
<h1 class="text-center">@Localizer[nameof(SharedResource.Delivery)]</h1>
<p class="white-space-pre-wrap">@Localizer[nameof(SharedResource.DeliveryDescription)]</p>
