@model SearchViewModel
@{
	ViewData["Title"] = Localizer["Search"];
}

<h3 class="text-center">@Localizer["Search"] "@Model.SearchString"</h3>
@if (Model.Sections.Any() || Model.Products.Any() || Model.ProductModels.Any())
{
	<div id="sectionsAndProducts" class="row justify-content-center">
		@foreach (var section in Model.Sections)
		{
			<partial name="_CommonObjectCard" model="section" />
		}
		@foreach (var product in Model.Products)
		{
			<partial name="_CommonObjectCard" model="product" />
		}
	</div>
	<div id="productModels" class="row justify-content-center">
		@foreach (var productModel in Model.ProductModels)
		{
			<partial name="_CommonObjectCard" model="productModel" />
		}
	</div>
}
else
{
	<h4 class="text-center mt-4 font-weight-light">@Localizer["RequestReturnedNoResults"]</h4>
}
