@model IEnumerable<Section>

<ul class="pl-2">
	@foreach (var mainSection in Model)
	{
		<li>
			<a href="#collapse@(mainSection.EnglishName)" data-toggle="collapse"
			   om-children-amount="@mainSection.GetOrderedNestedObjects().Count()"></a>
			<partial name="_LinkToCommonObject.cshtml" model="mainSection" />
			<ul class="collapse" id="collapse@(mainSection.EnglishName)">
				@foreach (var commonObject in mainSection.GetOrderedNestedObjects())
				{
					<li>
						@if (commonObject is Section subsection)
						{
							<a href="#collapse@(subsection.EnglishName)" data-toggle="collapse"
							   om-children-amount="@subsection.GetOrderedNestedObjects().Count()"></a>
							<partial name="_LinkToCommonObject.cshtml" model="subsection" />
							<ul class="collapse" id="collapse@(subsection.EnglishName)">
								@foreach (var subsectionCommonObject in subsection.GetOrderedNestedObjects())
								{
									<li>
										@if (subsectionCommonObject is Product subsectionProduct)
										{
											<a href="#collapse@(subsectionProduct.EnglishName)" data-toggle="collapse"
											   om-children-amount="@subsectionProduct.Models.Count"></a>
											<partial name="_LinkToCommonObject.cshtml" model="subsectionProduct" />
											<ul class="collapse" id="collapse@(subsectionProduct.EnglishName)">
												@foreach (var productModel in subsectionProduct.Models)
												{
													<li>
														<partial name="_LinkToCommonObject.cshtml" model="productModel" />
													</li>
												}
											</ul>
										}
										else if (subsectionCommonObject is ProductModel subsectionProductModel)
										{
											<partial name="_LinkToCommonObject.cshtml" model="subsectionProductModel" />
										}
									</li>
								}
							</ul>
						}
						else if (commonObject is Product product)
						{
							<a href="#collapse@(product.EnglishName)" data-toggle="collapse"
							   om-children-amount="@product.Models.Count"></a>
							<partial name="_LinkToCommonObject.cshtml" model="product" />
							<ul class="collapse" id="collapse@(product.EnglishName)">
								@foreach (var productModel in product.Models)
								{
									<li>
										<partial name="_LinkToCommonObject.cshtml" model="productModel" />
									</li>
								}
							</ul>
						}
						else if (commonObject is ProductModel productModel)
						{
							<partial name="_LinkToCommonObject.cshtml" model="productModel" />
						}
					</li>
				}
			</ul>
		</li>
	}
</ul>
