body {
    padding: 10px 0px;
    background-color: #F7FFDD;
}

header {
    padding: 0px 30px 10px 30px;
}

.body-content {
    padding: 20px 10px 0px 10px;
}

.body-content .row > * {
    padding-bottom: 10px;
}
