body {
    padding: 6px 0px;
    line-height: 22px;
    background-image: url(/images/Background.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #DDEEFF;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

nav {
    justify-content: space-between !important;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.common-object-card {
    padding-bottom: 10px;
}

.common-object-card > .card {
    color: black;
}

.common-object-card > .card > .card-header {
    z-index: 1;
    height: 40px;
    background: linear-gradient(rgba(0, 123, 255, 0.2), rgba(255, 255, 255));
    border-style: none;
    padding: 4px;
}

.common-object-card > .card > .card-body {
    height: 200px;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.common-object-card > .card > .card-body > img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
}

.common-object-card > .card > ul > li,
.common-object-card > .card > .card-footer {
    padding: 2px 6px;
}

.common-object-card:hover > .card > .card-header {
    background: linear-gradient(rgba(0, 123, 255, 0.5), rgba(255, 255, 255));
}

iframe {
    min-height: 400px;
    width: 100%;
    height: 100%;
    border: 0;
}

.price {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin: -4px;
}

.price > sup {
    font-size: 27px;
    padding-left: 5px;
}

.input-validation-error {
    border-color: red;
    background-color: #fee;
}

fieldset.properties-fieldset {
    border: 2px groove rgb(192, 192, 192);
    padding: 0px 10px;
    margin-bottom: 20px;
}

fieldset.properties-fieldset > legend {
    width: auto;
    padding: 0 10px;
    margin-bottom: 0px;
}

.search {
    width: 320px;
}

.search > div > button {
    border-radius: 0 0.25rem 0.25rem 0 !important;
    cursor: pointer;
}

.search > div > button > img {
    width: 20px;
}

.admin-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}

.admin-photo {
    max-height: 70px;
    max-width: 70px;
}

.navigation-tree-sidebar ul {
    list-style: none;
    padding-left: 16px;
}

.common-object-description {
    overflow: auto;
}

.common-object-description img.card-img {
    max-height: 250px;
    max-width: 250px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.common-object-description p {
    white-space: pre-wrap;
}

.h-400px {
    height: 400px;
}

.mw-50 {
    max-width: 50%;
}

.fit-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
