@model CommonObject
@inject FileManager FileManager

<a data-toggle="modal" data-target="#carousel@(Model.GetType().Name)@(Model.Id)">
    <img class="float-left m-2 card-img border border-secondary" src="@Model.GetMainImageFullLink()">
</a>
<div id="carousel@(Model.GetType().Name)@(Model.Id)" class="modal fade">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-secondary">
                <div id="carouselExampleControls" class="carousel slide" style="height: 400px;" data-ride="carousel">
                    <div class="carousel-inner h-100">
                        @foreach (var fullPath in FileManager.GetFilesPaths(Model))
                        {
                            string path = fullPath.Substring(fullPath.IndexOf(@"\images"));
                            <div class="carousel-item h-100 @(path == Model.GetMainImageFullLink() ? "active" : "")">
                                <img class="d-block h-100 img-fluid"
                                     src="@path.Substring(path.IndexOf(@"\images"))">
                            </div>
                        }
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
