@model IEnumerable<Section>
@{
    ViewData["Title"] = "Каталог";
}

<div class="row justify-content-center">
    @foreach (var mainSection in Model)
    {
        @Html.Partial("_SectionCard", mainSection)
    }
</div>
