@{
    ViewData["Title"] = "Каталог";
}

<table class="table table-responsive table-bordered">
    <thead class="thead-light">
        <tr>
            <th scope="col">Каталог</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-area="" asp-controller="Catalog" asp-action="Stabilizers">Стабилизаторы</a>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </tbody>
</table>