@model IEnumerable<Section>
@{
    ViewData["Title"] = "Каталог";
}

<div class="row justify-content-center">
    @foreach (var mainSection in Model)
    {
        <a asp-controller="Catalog" asp-action="Products" asp-route-productName="@mainSection.Name.Replace(" ","_")" class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-header">
                    <p class="h3 text-center">@mainSection.Name</p>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="@mainSection.GetImageFullLink()">
                </div>
            </div>
        </a>
    }
</div>
