@model IEnumerable<Section>
@{
    ViewData["Title"] = "Каталог";
}

<div class="row justify-content-center">
    @foreach (var mainSection in Model.OrderBy(x => x.SequenceNumber))
    {
        @Html.Partial("_SectionCard", mainSection)
    }
</div>
