@model List<Product>
@{
    ViewData["Title"] = "Каталог";
}

<div class="container row justify-content-center">
    @foreach (var product in Model)
    {
        <a asp-controller="Catalog" asp-action="@product.EnglishName" class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
            <div class="card">
                <div class="card-header">
                    <p class="h3 text-center">@product.RussianName</p>
                </div>
                <div class="card-body">
                    <img class="card-img-top" src="~/images/@product.EnglishName/@product.MainImageLink">
                </div>
            </div>
        </a>
    }
</div>
