@model CommonObject

<h2 class="text-center">@Model.Name</h2>
<div class="common-object-description mb-2">
	<partial name="_ImageCarouselAndDocumentList" model="Model" />
	@if (Model is ProductObject productObject)
	{
		<partial name="_PropertiesTable" model="productObject.GetPropertiesWithValues()" />
	}
	<p class="text-justify">@Model.Description</p>
</div>

@if (Model is Section section)
{
	<partial name="_PanelWithCards" model="section.GetOrderedNestedObjects()" />
}
else if (Model is Product product)
{
	<partial name="_PanelWithCards" model="@(product.Models.OrderBy(x => x.SequenceNumber))" />
}
