@model SearchViewModel
@{
    ViewData["Title"] = "Поиск";
}

@if (Model.Sections.Any() || Model.Products.Any() || Model.ProductModels.Any())
{
    @if (Model.Sections.Any())
    {
        <div id="sections" class="row justify-content-center">
            @foreach (var section in Model.Sections)
            {
                @Html.Partial("_SectionCard", section)
            }
        </div>
    }
    @if (Model.Products.Any())
    {
        <div id="products" class="row justify-content-center">
            @foreach (var product in Model.Products)
            {
                @Html.Partial("_ProductCard", product)
            }
        </div>
    }
    @if (Model.ProductModels.Any())
    {
        <div id="productModels" class="row justify-content-center">
            @foreach (var productModel in Model.ProductModels)
            {
                @Html.Partial("_ProductModelCard", productModel)
            }
        </div>
    }
}
else
{
    <h3 class="text-center">По запросу <span class="text-info">@Model.SearchString</span> ничего не найдено</h3>
}
