@model Section

<div class="row justify-content-center">
    @foreach (var obj in Model.GetNestedObjects())
    {
        if (obj is Section subsection)
        {
            @Html.Partial("_SectionCard", subsection)
        }
        if (obj is Product product)
        {
            @Html.Partial("_ProductCard", product)
        }
        if (obj is ProductModel productModel)
        {
            @Html.Partial("_ProductModelCard", productModel)
        }
    }
</div>
