@{
    ViewData["Title"] = "Стабилизаторы";
}
@model List<Stabilizer>

<div class="container">
    <div class="row justify-content-center">
        @foreach (var stabilizer in Model)
        {
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="card">
                    <img class="card-img-top img-fluid" src="~/images/Stabilizers/@stabilizer.MainImageLink">
                    <div class="card-body">
                        <h5 class="card-title">@stabilizer.Series</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>