@model Stabilizer
@{
    ViewData["Title"] = "";
}

<p class="h3 text-center">@Model.Series</p>
<p class="text-center">@Model.Product.EnglishName</p>
<table class="table table-light table-bordered table-hover">
    <tbody>
        @await Component.InvokeAsync("ProductProperty", new { model = Model, value = Model.StabilizationType })
        @await Component.InvokeAsync("ProductProperty", new { model = Model, value = Model.StabilizationAccuracy })
        @await Component.InvokeAsync("ProductProperty", new { model = Model, value = Model.PhasesAmount })
        @await Component.InvokeAsync("ProductProperty", new { model = Model, value = Model.OperatingFrequencyOfNetwork })
        @await Component.InvokeAsync("ProductProperty", new { model = Model, value = Model.AllowableDurableOverload })
        @await Component.InvokeAsync("ProductProperty", new { model = Model, value = Model.InputVoltageRange })
        @await Component.InvokeAsync("ProductProperty", new { model = Model, value = Model.Efficiency })
    </tbody>
</table>