<h2 class="text-center">Главная страница</h2>
<div class="row">
    <a class="btn btn-primary m-3" asp-action="Sections">Измененить содержимое сайта</a>
    <a class="btn btn-info m-3" asp-action="Configuration">Измененить конфигурацию</a>
</div>
<h3>Отчёты</h3>
<div class="row">
    <a class="btn btn-info m-3" asp-action="GetPricesReport">Скачать отчёт с ценами</a>
    <a class="btn btn-info m-3" asp-action="CreateBackup">Скачать бэкап базы</a>
</div>
