<a class="btn btn-primary my-3" asp-action="Sections">Перейти к изменению содержимого</a>

<h2>Отчёты</h2>
<div class="row">
    <a class="btn btn-info m-3" asp-action="GetPricesReport">Скачать отчёт с ценами</a>
    <a class="btn btn-info m-3" asp-action="CreateBackup">Скачать бэкап базы</a>
</div>
