@model List<ProductModel>

<ul>
	@foreach (var productModel in Model)
	{
		<li>
			<a asp-controller="Catalog" asp-action="Products" asp-route-name="@productModel.EnglishName">@productModel.Name</a>
		</li>
	}
</ul>