@model MenuProductModelsViewModel

<ul>
	@foreach (var productModel in Model.ProductModels)
	{
		<li>
			<a asp-controller="Catalog" asp-action="Products" asp-route-sectionName="@Model.SectionName"
                asp-route-productName="@productModel.Product.EnglishName" 
                asp-route-productModelName="@productModel.EnglishName">@productModel.Name</a>
		</li>
	}
</ul>