@{
	ViewData["Title"] = Localizer[nameof(SharedResource.Error)];
}

<h1 class="text-danger">@Localizer[nameof(SharedResource.Error)]</h1>
<h3 class="text-danger">@Localizer[nameof(SharedResource.ErrorApologies)]</h3>
